@font-face{
font-family: 'Raleway_bold';
src: url('../fonts/Raleway/Raleway-Bold.ttf');

}
@font-face{
font-family: 'Raleway_regular';
src: url('../fonts/Raleway/Raleway-Regular.ttf');

}
@font-face{
font-family: 'Raleway_heavy';
src: url('../fonts/Raleway/Raleway-Heavy.ttf');

}
@font-face{
font-family: 'Roboto_bold';
src: url('../fonts/Roboto/Roboto-Bold.ttf');

}
@font-face{
font-family: 'Roboto_black';
src: url('../fonts/Roboto/Roboto-Black.ttf');

}
@font-face{
font-family: 'Roboto_regular';
src: url('../fonts/Roboto/Roboto-Regular.ttf');

}
body{
	width: 100%;
	margin: 0px;
	display: flex;
	flex-direction: column;
	font-size: 12px;
}
.center{
	min-width: 700px;
	width: 1000px;
	height: inherit;
	margin: 0 auto;
}
.header{
	background-color: #abeafa;
    height: 700px;
}
.header .center{
	display: flex;
	justify-content: space-between;
}
.header .left{
	width: 270px;
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header .left div:last-child{
	height: 300px;
	margin-top: 201px;
	background-color: #fff51f;


	font-family: 'Raleway_bold', sans-serif;
	color: #333333;
	text-align: left;
	font-weight: 700;
	font-weight: 700;
	padding-left: 25px;
}
.header .left div p:first-child{
	font-size: 2.5em;
	line-height: 1em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 24px;
    padding-top: 75px;
}
.header .left div p:last-child{
	font-size: 1.5em;
	line-height: 0.8em;
	margin: 0;

}
.header .right{
	display: flex;
	flex-direction: column;
	width:425px; 
	padding-top: 50px;
}
.header .right div:first-child{
	color: white;
    align-self: flex-end;
}
.header .right i{
	padding-right: 0.7em;
}
.header .right div:nth-child(2){
	height: 169px;
	width: 313px;
	margin-top: 177px; 
	color:  #fff51f;
}
.header .right div:last-child{
	height: 49px;
	width: 124px;
	margin-top: 62px;
	background-color: #fff51f;
	color: black;
	margin-top: 62px;
	font-family: 'Raleway_heavy', sans-serif;
	font-weight: 800;
	font-size: 1.3em; 
	text-align: center;
	line-height: 3.5em;
}
.header .right div p:first-child{
	font-family: 'Raleway_bold', sans-serif;
	font-size: 4em;
	font-weight: 700;
	line-height: 0.7em;
	margin: 0;
	padding-bottom: 0.2em;
}
.header .right div p:last-child{
	font-family: 'Raleway_regular', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.3em;
	margin: 0;
}
.container{
	min-height: 500px;
}
.footer_1{
	background-color:  #373737;
	height: 300px;
}
.footer_2{
	background-color:  #333333;
	height: 50px;
	margin: 0px;
	padding: 0px;
	color: white;
}