@font-face{
font-family: 'Raleway_bold';
src: url('../fonts/Raleway/Raleway-Bold.ttf');

}
@font-face{
font-family: 'Raleway_regular';
src: url('../fonts/Raleway/Raleway-Regular.ttf');

}
@font-face{
font-family: 'Raleway_heavy';
src: url('../fonts/Raleway/Raleway-Heavy.ttf');

}
@font-face{
font-family: 'Roboto_bold';
src: url('../fonts/Roboto/Roboto-Bold.ttf');

}
@font-face{
font-family: 'Roboto_black';
src: url('../fonts/Roboto/Roboto-Black.ttf');

}
@font-face{
font-family: 'Roboto_regular';
src: url('../fonts/Roboto/Roboto-Regular.ttf');

}
html{
	font-size: 12px;
	min-width: 1200px;
	width: 100%;
	
}
body{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.center{
	min-width: 700px;
	width: 1180px;
	margin: 0 auto;
	height: inherit;
	box-sizing: border-box;
}
/*шапка*/
.header{
	/*background-image: url(../img/header2.jpg);*/
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

    height: 700px;
}
.header .center{
	display: flex;
	justify-content: space-between;
	
}
.header .left{
	width: 270px;
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header .left div:last-child{
	height: 300px;
	margin-top: 201px;
	background-color: #fff51f;

	font-family: 'Raleway_bold', sans-serif;
	color: #333333;
	text-align: left;
	font-weight: 700;
	font-weight: 700;
	padding-left: 25px;
}
.header .left div p:first-child{
	font-size: 2.5em;
	line-height: 1em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 24px;
    padding-top: 75px;
}
.header .left div p:last-child{
	font-size: 1.5em;
	line-height: 0.8em;
	margin: 0;
}
.header .right{
	display: flex;
	flex-direction: column;
	width:425px; 
	padding-top: 50px;
}
.header .right div:first-child{
    align-self: flex-end;
}
.header .right a{
	color: white;
	padding-right: 20px;
}
.header .right div:nth-child(2){
	height: 169px;
	width: 313px;
	margin-top: 177px; 
	color:  #fff51f;
}

.header .right div:last-child a{
	font-family: 'Raleway_heavy', sans-serif;
	font-size: 1.3em; 
	font-weight: 800;
	line-height: 10em;
	color: black;
	background-color: #fff51f;
	padding:20px;
	text-decoration-line: none;
}
.header .right div p:first-child{
	font-family: 'Raleway_bold', sans-serif;
	font-size: 4em;
	font-weight: 700;
	line-height: 0.7em;
	margin: 0;
	padding-bottom: 0.2em;
}
.header .right div p:last-child{
	font-family: 'Raleway_regular', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.3em;
	margin: 0;
}
/*контент*/
.container{
	min-height: 500px;
	background-color: #f8f8f8;
	display: flex;
	flex-direction: column;
}
.content {
	display: flex;
	justify-content: space-between;
	margin-top: -20px;
}
.content .left{
	width: 270px;
	display: flex;
	flex-direction: column;
}
.content .left .menu{
	background-color: #26d2fc;
	height: 475px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;

	font-size: 1.2em;
	text-transform: uppercase;
}
.menu p{
	padding-left: 42px;
	margin: 0px 0px 0px 0px;
    font-family: 'Roboto_bold', sans-serif;
    font-weight: 700;
    line-height: 4.5em;
    color: #ffffff;
    background-color: #333333;
}
.menu a{
	padding-left: 42px;
	font-family: 'Roboto_black', sans-serif;
	line-height: 2.6em;
	color:  #000000;
	text-decoration-line: none;
	width: inherit;
}
.menu a:hover{
	background-color:  #333333;
	color:  #ffffff;
	font-weight: 900;
}
.menu a:visited{
	color:  #333333;
}
.content .banner{
	height: 300px;
	box-sizing: border-box;
	color: #fff51f;
	background-image: url(../img/left_banner_img.jpg);
	background-position: bottom;

	font-family: 'Raleway_bold', sans-serif;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: 800;
	line-height: 1em;
	padding: 129px 0px 0px 142px;
}
.products{
	font-family: Roboto_black, sans-serif;
	font-weight: 900;
	color:#333333;
	width: 870px;
	background-color: #f8f8f8;
	display: flex;
	flex-direction: column;
	
}
.products h2{
	text-transform: uppercase;
	color:  #707070;
	font-size: 1.9em;
	font-style: italic;
	padding-left: 25px;

}
.products .new,
.products .top,
.products .sale{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.products .new div:not([class]),
.products .top div:not([class]),
.products .sale div:not([class]){
	width: 270px;
	height: 320px;
	box-sizing: border-box;
	/*margin-right: 30px;*/
	margin-bottom: 30px;
	background-color: white;
	display: flex;
	flex-direction: column;
	
}

.products .img{
	width: 250px;
	height: 235px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #eaeaea;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; 
}
.products .img:hover{
	background-color: white;
}
.products .name{
	width: 135px;
	font-size: 1.1em;
	line-height: 1.3em;
	font-style: italic;
	margin-left: 26px;
	margin-top: 24px;
}
.products .price{
	font-size: 1.5em;
	font-style: italic;
	text-align: right;
	margin-right: 10px;
	position: absolute;
	margin-top: 267px;
	padding-right: 10px;
	align-self: flex-end;
}
.products .old_price{
	font-size: 1.1em;
	font-style: italic;
	color: #e24602;
	text-decoration-line: line-through;
	text-align: right;
	margin-right: 10px;

}
.social{
	display: flex;
	flex-direction: column;
}
.social .brands{
	height: 160px;
	display: flex;
	justify-content: space-between;
}
.social .brands a{
	width: 110px;
	height: inherit;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.social .insta{
	height: 350px;
	background-color:  #eaeaea;
	font-family: Roboto_black, sans-serif;
	color:  #333333;
	font-weight: 900;
	font-style: italic;
	text-align: center;
	padding-top: 4.5em;
}
.insta div span:nth-child(2){
	font-size: 1.8em;
	padding-left: 5px;
}
.insta div span:nth-child(3){
	font-size: 1.5em;
	padding-left: 5px;

}
.insta .img{
	padding-top: 30px;
	height: 185px;
	display: flex;
	justify-content: space-between;
}
.insta .img a{
	width: 185px;
	height: inherit;
}
.insta .nets{
	height: 150px;
	margin-top: 30px;
	display: flex;
}
.insta .nets a{
	height: inherit;
	width: 400px;
	color: #ffffff;
	padding-top: 4em;
}

.insta .nets a:first-child{
	background-color: #3b5997;
}
.insta .nets a:nth-child(2){
	background-color: #3fccfd;
}
.insta .nets a:nth-child(3){
	background-color: #cb2027;
}
.footer_1{
	background-color: #373737;
	height: 300px;
	margin-top: 70px;
}
.footer_2{
	background-color: #333333;
	color: #dad9d9;
	height: 50px;
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
	box-sizing: border-box;
}
.footer_2 .center{
	display: flex;
	justify-content: space-between;
}
.footer_2 .center div:first-child{
	font-family: Raleway_regular,sans-serif;
	font-size: 1em;
}
.footer_2 a{
	color: #dad9d9;
	padding-left: 8px;
}